[Unit]
Description=nginx@%i presence service
BindsTo=nginx@%i.service
After=nginx@%i.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment
Environment="HOSTNAME=%H"
Environment="INSTANCE=%i"
Environment="SERVICE=nginx"
ExecStart=/var/usr/bin/cerebelo announce
ExecStop=/var/usr/bin/cerebelo announce rm

[X-Fleet]
MachineOf=nginx@%i.service
