[Unit]
Description=nginx
Wants=nginx-announce@%i.service nginx-config@%i.service
Requires=hello-world@%i.service
After=hello-world@%i.service

[Service]
TimeoutSec=0
KillMode=none
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s

ExecStartPre=/usr/bin/touch /var/hello-world/env/var/confd/nginx/default.conf
ExecStartPre=/usr/bin/touch /var/hello-world/env/var/confd/nginx/default.conf.confd

ExecStartPre=-/usr/bin/docker kill nginx_%i
ExecStartPre=-/usr/bin/docker rm nginx_%i
ExecStartPre=/usr/bin/docker pull nginx:latest

ExecStart=/usr/bin/docker run \
    --name=nginx_%i \
    --rm \
    --volumes-from helloworld_%i \
    -v /var/hello-world/env/var/confd/nginx/default.conf:/etc/nginx/conf.d/default.conf \
    -p 80:80 \
    nginx:latest \
    nginx -g "daemon off;"

ExecStop=/usr/bin/docker stop nginx_%i

[X-Fleet]
Conflicts=nginx@*.service
MachineOf=hello-world@%i.service
