[Unit]
Description=php
Wants=php-announce@%i.service
Requires=haproxy@%i.service
Requires=hello-world@%i.service
After=hello-world@%i.service

[Service]
TimeoutSec=0
KillMode=none
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill php_%i
ExecStartPre=-/usr/bin/docker rm php_%i
ExecStartPre=/usr/bin/docker pull diegomarangoni/php:fpm

ExecStart=/usr/bin/docker run \
    --name=php_%i \
    --rm \
    --volumes-from helloworld_%i \
    --add-host host:${COREOS_PRIVATE_IPV4} \
    --entrypoint=e \
    -v /var/hello-world/env/config/php/entrypoint.sh:/usr/local/bin/e \
    diegomarangoni/php:fpm \
    php-fpm

ExecStartPost=-/usr/bin/docker exec php_%i bash -c "chmod -R 777 /var/www/hello-world/app/{cache,logs}"

ExecStop=/usr/bin/docker stop php_%i

[X-Fleet]
Conflicts=php@*.service
MachineOf=hello-world@%i.service
